.preloader {
    position: fixed;
    inset: 0;
    background: var(--black);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    font-size: 8rem;
    font-weight: 800;
    letter-spacing: 0.25em;
    color: var(--pale-sky);
    user-select: none;
    white-space: nowrap;
}